*{
    margin: 0;
    padding: 0;
}


.rgb-container{
    width:100% ;
    height: 100vh;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    & > .main{
        flex-grow: 1;
        padding-top: 3rem;
        padding-bottom: 60px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #fcfcfc;
    }
}

.blue{
    color: blue;
}

.red{
    color: red;
}

.green{
    color: green;
}

.square{
    width: 150px ;
    height: 150px ;
    margin: 1.5rem 0;
    border: solid 1px rgb(155, 155, 155);
    border-radius: 1rem;
}



.guess{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .answer{
        border:solid #c7efef 3px ;
        padding: 2rem;
        margin: 1rem 0;
        border-radius: 1rem;
    }
}

